


#display {
    display: none;
    position: relative;
    width: 320px;
    height: 320px;
}

#picker {
    width: 320px;
    margin: auto;
}

#picker input {
    min-width: 90px;
}

dialog {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    max-height: 90vh;
    z-index: 1001;
    left: 0px;
    right: 0px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    box-shadow: 0 0 40px rgb(0 0 0 / 10%), 0 0 10px rgb(0 0 0 / 25%);
    border-width: 0;
    border-radius: 4px;
    border-image: initial;
    padding: 1em;
    color:black;
    background: white;
}

dialog:not([open]) {
    display: none;
}

dialog[open]+.backdrop {
    content: '';
    z-index: 1;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.4);
    z-index: 1000;
}


#picker td.cell-input {
    width: 80px;
    padding-right: 10px;
}

#picker td.cell-input input {
    margin: 0;
    height: 22px;
    outline: none;
    text-align: right;
    width: 100%;
    padding: 0 5px;
}

#picker td.cell-input.cell-input-hex input {
    font-family: monospace;
}

#picker table {
    margin-top: 20px;
    width: 100%;
}

#picker table td {
    padding: 5px 5px;
    vertical-align: top;
    border: none;
}

#picker table td.picker-label {
    color: #333;
    width: 15px;
    line-height: 22px;
}

#picker table .swatch {
    height: 100px;
}

#picker .explanation-text {
    margin-bottom: 60px;
    margin-top: 100px;
}

.range-slider {
    height: 22px;
    display: block;
    position: relative;
}

.range-slider-handle {
    display: inline-block;
    position: absolute;
    width: 6px;
    top: -2px;
    left: -5px;
    height: 100%;
    cursor: default;
    border: 2px solid #fff;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
}

#picker h3 {
    margin: 5px 0;
}
.picker-header {
    display: flex;
    justify-content: space-between;
}
.picker-footer {
    display: flex;
}
#picker-cancel-color {
    font-size: 24px;
    padding: 0;
    border-radius: 50%;
    border-width: 0;
    min-width: auto;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: transparent;
}
#picker-cancel-color:hover {
    background-color: #e5e5e5;
}
#picker-save-color {
    margin: 5px 5px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    cursor: pointer;
}
  